extends layout

block content
  if transactions
    .transactions
      each month in transactions
        a.transactions__day(href=`/transactions/${month._id.year}/${month._id.month - 1}`)
          h4.transactions__title= monthNames[month._id.month - 1]
            span.day= month._id.year
            span.amount= Math.round(month.balance * 100) / 100
