extends layout

include mixins/_appNav

block content
  +appNav("Categories", "/transactions")
  
  div.app-page
    if categories
      ol.content__list
        each c in categories
          li.content__item
            a(href=`/transactions/${year}/${month + 1}/${c._id._id}`)
              span.content__item__name= `${c._id.name}`
              span.content__item__action= c.amount.toFixed(2)
