extends layout

include mixins/_appNav

block content
  -
    const pageTitle = month ? `${h.getMonthName(month)} ${year}` : year ? `${year}` : "Overall"
    const rightMenu = [
      { url: "/add", title: "Add", icon: "plus-circle" },
      { url: "/search", title: "Search", icon: "search" }
    ]
    const subNavMenu = [
      { url: month ? `/transactions/${year}/${month + 1}` : year ? `/transactions/${year}` : "/transactions", title: "Transactions", selected: false },
      { url: month ? `/categories/${year}/${month + 1}` : year ? `/categories/${year}` : "/categories", title: "Overview", selected: true }
    ]

  +appNav(pageTitle, null, rightMenu)

  div.app-page
    +appSubNav(subNavMenu)

    if categories
      each group, name in categories
        .transactions__group
          h4.transactions__group__title= name
            span.transactions__group__amount= h.formatNumber(group.totalAmount)
          ul.transactions__list
            each c in group.categories
              li.transaction
                a(href=`/transactions/${year}/${month + 1}/${c._id._id}`)
                  span.transaction__name= c._id.name
                  span.transaction__amount
                    span.transaction__pill(style=`background-color: ${c._id.color}`)= `${h.formatNumber(c.amount)}`
