extends layout

block content
  if year && month
    nav.page-nav
      .left
        a(href=`/transactions`) ← Transactions
      .center= `${h.getMonthName(month)} ${year}`
      .right
  if categories
    .transactions
      ol.transactions__list
        each c in categories
          li.transactions__item
            a(href=`/transactions/${year}/${month}/${c._id}`)= c.name
              span.amount(style=`background-color: ${c.color}`)= `${c.total.toFixed(2)}`
