extends layout

block content
  nav.app-nav
    a.align--left(href="/account") Settings
    a.align--center(href="/transactions")= `${h.getMonthName(month)} ${year} ⌄`
    a.align--right(href="/add") Add

  section.overview
    h1.overview__number= `${incomes + expenses}`
      span.overview__label Monthly balance

  section.cards
    a.card.card--expenses
      h1.card__title Expenses
      h2.card__content= `${expenses.toFixed(2)}`
    a.card.card--incomes
      h1.card__title Incomes
      h2.card__content= `${incomes.toFixed(2)}`
    each c in categories
      a.card.card--other(href=`/transactions/${year}/${month + 1}/${c._id}`)
        h1.card__title= c.name
        h2.card__content= c.totalAmount.toFixed(2)
