extends layout

block content
  nav.app-nav
    div
      a(href="/account")
        i(data-feather="settings")
    div
      a(href="/transactions")= `${h.getMonthName(month)} ${year} ↓`
    div
      a(href="/add")
        i(data-feather="plus-circle")

  section.overview
    h1.overview__number= `${(incomes + expenses).toFixed(2)}`
      span.overview__label Monthly balance

  section.cards
    a.card.card--expenses(href=`/transactions/${year}/${month + 1}/all/expenses`)
      h1.card__title Expenses
      h2.card__content= `${expenses.toFixed(2)}`
    a.card.card--incomes(href=`/transactions/${year}/${month + 1}/all/incomes`)
      h1.card__title Incomes
      h2.card__content= `${incomes.toFixed(2)}`
    each c in categories
      - const colorClass = c.totalAmount >= 0 ? 'transaction__amount--positive' : 'transaction__amount--negative'
      a.card.card--other(href=`/transactions/${year}/${month + 1}/${c._id}`)
        h1.card__title= c.name
        div.card__content
          span.card__icon
            i(data-feather=`${c.icon}`)
          span.card__amount(class=`${colorClass}`)= c.totalAmount.toFixed(2)
