extends layout

include mixins/_appNav

block content
  +appNav("Months", "/settings", "/", "settings", "chevron-right")
  
  div.app-page
    if months
      ol.content__list
        each month in months
          li.content__item
            a(href=`/transactions/${month._id.year}/${month._id.month}`)
              span.content__item__name= `${h.getMonthName(month._id.month - 1)} ${month._id.year}`
              span.content__item__action= month.expensesAmount.toFixed(2)
