extends layout

include mixins/_appNav

block content
  +appNav("Finances", "/settings", "", "settings", "")

  div.app-page
    +appSubNav("/transactions", "Overview", true, "/stats", "Statistics", false)

    if months
      each year, index in months
        .transactions__group
          h4.transactions__group__title= year[index]._id.year
          ul.transactions__list
            each month in year
              li.transaction
                a(href=`/transactions/${month._id.year}/${month._id.month}`)
                  span.transaction__name= `${h.getMonthName(month._id.month - 1)} ${month._id.year}`
                  span.transaction__amount= h.formatNumber(month.balance)
