extends layout

include mixins/_appNav

block content
  - const pageTitle = month >= 0 ? `${h.getMonthName(month)} ${year}` : "Categories"

  +appNav(pageTitle, menus.reportsCategories.appNavLeft, menus.reportsCategories.appNavRight)

  div.app-page
    if categories
      each group, name in categories
        .transactions__group
          h4.transactions__group__title= name
            span.transactions__group__amount= h.formatNumber(group.totalAmount)
          ul.transactions__list
            each c in group.categories
              li.transaction
                a(href=`/transactions?year=${year}&month=${month + 1}&category=${c._id._id}`)
                  span.transaction__name= c._id.name
                  span.transaction__amount
                    span.transaction__pill(style=`background-color: ${c._id.color}`)= `${h.formatNumber(c.amount)} (${h.formatNumber((c.amount / group.totalAmount) * 100)}%)`
