extends layout

include mixins/_appNav

block content
  - const pageTitle = type === "Expenses" ? "Expenses" : "Income"
  +appNav(pageTitle)

  div.app-page
    header.section__head
      h1= type

    if amounts
      - const typeClass = type === "Expenses" ? "chart--expenses" : "chart--income"
      .chart(class=typeClass)
        ol.chart__list
          each m in amounts.months
            - const selectedClass = m._id.month - 1 === month ? "chart__item--selected" : ""
            li.chart__item(class=selectedClass)
              a(href=`/stats?type=${type}&year=${m._id.year}&month=${m._id.month}`)
                - const typeHeight = type === "Expenses" ? m.amount / amounts.minAmount * 100 : m.amount / amounts.maxAmount * 100
                .chart__item__bar(style=`height: ${typeHeight}%`)
                .chart__item__label= h.moment({months: m._id.month - 1}).format("MMM")

    if categories
      header.section__head
        h2= month >= 0 ? h.moment({ month: month, year: year }).format("MMMM") : h.moment({ year: year }).format("YYYY")
          if month >= 0
            small= year
        span= h.formatNumber(categories.balance)
      
      ul.progress__list
        each category in categories.categories
          li.progress__item
            header
              .progress__item__title= category._id.name
              .progress__item__meta= h.formatNumber(category.amount)
            .progress
              - const typeClass = type === "Expenses" ? "progress__bar--expenses" : "progress__bar--income"
              .progress__bar(class=typeClass style=`width: ${(category.amount / categories.balance) * 100}%`)
