extends layout

include mixins/_appNav

block content
  +appNav(title)

  div.app-page
    each group, name in stats
      - innerHref = name === 'This month' ? `/categories/${year}/${month + 1}` : name === 'This year' ? `/categories/${year}` : '/categories'
      h4.transactions__group__title= name
        span.transactions__group__amount= h.formatNumber(group['Balance'])
      ul.transactions__list
        each key, name in group
          unless name === 'Balance'
            li.transaction
              a(href=key._id ? `/transaction/${key._id}/edit` : innerHref)
                span.transaction__name= name
                span.transaction__amount= h.formatNumber(key.amount || key)
