extends layout

include mixins/_appNav

block content
  +appNav(title)

  .content
    if chartData
      - const typeClass = type === "Expenses" ? "chart--expenses" : "chart--income"
      .chart(class=typeClass)
        ol.chart__list.chart__list--years
          each y in chartData.years
            - let activeClass = y._id.year === year ? "chart__item__label--active" : ""
            li.chart__item
              .chart__item__label.chart__item__label--years(class=activeClass)= y._id.year
              ol.chart__list.chart__list--months
                each m in y.months
                  - activeClass = m.month - 1 === month && y._id.year === year ? "chart__item--active" : ""
                  li.chart__item(class=activeClass)
                    - const categoryParam = category ? `&category=${category._id}` : ""
                    a(href=`/stats/?type=${type}&year=${y._id.year}&month=${m.month}${categoryParam}`)
                      - const typeHeight = type === "Expenses" ? m.balance / chartData.minAmount * 81 : m.balance / chartData.maxAmount * 81
                      .chart__item__bar(style=`height: ${typeHeight}%`)
                      .chart__item__label.chart__item__label--months= h.moment({months: m.month - 1}).format("MMM")

    if categories
      header.content__head
        h2= month >= 0 ? h.moment({ month: month, year: year }).format("MMMM") : h.moment({ year: year }).format("YYYY")
          if month >= 0
            small= year
        span= h.formatNumber(categories.balance)

      ul.progress__list
        each category in categories.categories
          li.progress__item
            a(href=`/transactions?category=${category._id._id}&year=${year}&month=${month + 1}`)
              header
                .progress__item__title= category._id.name
                .progress__item__meta= h.formatNumber(category.amount)
              .progress
                .progress__bar(style=`background-color: ${category._id.color}; width: ${(category.amount / categories.balance) * 100}%`)
