extends layout

include mixins/_appNav

block content
  +appNav("Finances", "/settings", "", "settings", "")

  div.app-page
    +appSubNav("/transactions", "Overview", false, "/stats", "Statistics", true)

    .transactions__group
      h4.transactions__group__title This month
        span.transactions__group__amount= h.formatNumber(stats.monthly[0].balance)
      ul.transactions__list
        li.transaction
          a
            span.transaction__name Income
            span.transaction__amount= h.formatNumber(stats.monthly[0].totalIncome)

        li.transaction
          a
            span.transaction__name Expenses
            span.transaction__amount= h.formatNumber(stats.monthly[0].totalExpenses)
        li.transaction
          a
            span.transaction__name Highest income
            span.transaction__amount= h.formatNumber(stats.monthly[0].highestIncome)
        li.transaction
          a
            span.transaction__name Highest expense
            span.transaction__amount= h.formatNumber(stats.monthly[0].highestExpense)

    .transactions__group
      h4.transactions__group__title This year
        span.transactions__group__amount= h.formatNumber(stats.yearly[0].balance)
      ul.transactions__list
        li.transaction
          a
            span.transaction__name Income
            span.transaction__amount= h.formatNumber(stats.yearly[0].totalIncome)
        li.transaction
          a
            span.transaction__name Expenses
            span.transaction__amount= h.formatNumber(stats.yearly[0].totalExpenses)
        li.transaction
          a
            span.transaction__name Highest income
            span.transaction__amount= h.formatNumber(stats.yearly[0].highestIncome)
        li.transaction
          a
            span.transaction__name Highest expense
            span.transaction__amount= h.formatNumber(stats.yearly[0].highestExpense)

    .transactions__group
      h4.transactions__group__title Overall
        span.transactions__group__amount= h.formatNumber(stats.overall[0].balance)
      ul.transactions__list
        li.transaction
          a
            span.transaction__name Income
            span.transaction__amount= h.formatNumber(stats.overall[0].totalIncome)
        li.transaction
          a
            span.transaction__name Expenses
            span.transaction__amount= h.formatNumber(stats.overall[0].totalExpenses)
        li.transaction
          a
            span.transaction__name Highest income
            span.transaction__amount= h.formatNumber(stats.overall[0].highestIncome)
        li.transaction
          a
            span.transaction__name Highest expense
            span.transaction__amount= h.formatNumber(stats.overall[0].highestExpense)
