extends layout

block content
  h2 #{title}
  if transactions
    each t in transactions
      ul
        li #{t.description}
        li #{t.amount}
        li #{t.category.name}
        li: time(datetime=t.date)= h.moment(t.date).fromNow()
        if user && t.user.equals(user._id)
          li: a(href=`/transactions/${t._id}/edit`) edit
          li: a(href=`/transactions/${t._id}/remove`) remove
