extends layout

block content
  h2 #{title}
  if transactions
    each t in transactions
      p #{t.description} #{t.amount} #{t.date}
        if user && t.user.equals(user._id)
          a(href=`/transactions/${t._id}/edit`) edit
