extends layout

block content
  if transactions
    .transactions
      each day in transactions
        .transactions__day
          h4.transactions__title= day.date
            span.day= day.dayOfWeek
            span.amount= Math.round(day.totalAmount * 100) / 100
          ol.transactions__list
            each t in day.transactions
              li.transactions__item
                a(href=`/transaction/${t._id}/edit`)= t.description
                  span.amount(style=`background-color: ${t.category.color}`)= `${t.amount}`
