extends layout

include mixins/_appNav

block content
  - const pageTitle = `${h.getMonthName(month)} ${year}`
  +appNav(pageTitle, "/", "/add", "chevron-left", "plus-circle")

  div.app-page
    if transactions.length > 0
      each day in transactions
        .transactions__day
          h4.transactions__title= day.date
            span.transactions__dayOfWeek= day.dayOfWeek
            span.transactions__amount= day.totalAmount.toFixed(2)
          ol.transactions__list
            each t in day.transactions
              - const colorClass = t.amount >= 0 ? 'transaction__amount--positive' : 'transaction__amount--negative'
              li.transaction
                a(href=`/transaction/${t._id}/edit`)
                  span.transaction__icon
                    i(data-feather=`${t.category.icon}`)
                  span.transaction__name= t.description
                  span.transaction__amount(class=`${colorClass}`)= `${t.amount.toFixed(2)}`
    else
      p No transactions yet.
