extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  - const pageTitle = category ? `${category.name}` : month ? `${h.getMonthName(month)} ${year}` : 'Transactions'
  +appNav(pageTitle, "/dashboard", "/add", "chevron-left", "plus")

  div.app-page
    - const transactionsMenu = month ? `/transactions/${year}/${month + 1}` : year ? `/transactions/${year}` : '/transactions'
    - const overviewMenu = month ? `/categories/${year}/${month + 1}` : year ? `/categories/${year}` : '/categories'
    +appSubNav(transactionsMenu, "Transactions", true, overviewMenu, "Overview", false)

    +groupedTransactions(transactions)

    a.form__button(href='/search') Search
