extends layout

include mixins/_appNav

block content
  - const queryParams = h.convertObjectToQueryParams(query)
  - const appNavRight = [{ url: `/add${queryParams ? `?${queryParams}` : ""}`, title: "Add", icon: "plus-circle" }, { url: "/search", title: "Search", icon: "search" }]

  +appNav(title, menus.transactions.appNavLeft, appNavRight)

  .content
    unless query.category || query.year || query.month || query.uncleared
      if chartData
        .chart.chart--mixed
          ol.chart__list.chart__list--years
            each y in chartData.years
              li.chart__item
                .chart__item__label.chart__item__label--years= y._id.year
                ol.chart__list.chart__list--months
                  each m in y.months
                    - activeClass = m.month - 1 === month && y._id.year === year ? "chart__item--active" : ""
                    li.chart__item(class=activeClass)
                      a(href=`#${y._id.year}-${m.month}`)
                        .chart__item__bar
                          .chart__item__bar__segment.chart__item__bar__segment--income(style=`height: ${m.income / -chartData.minAmount * 81}px` title=`${h.formatNumber(m.income)}`)
                          .chart__item__bar__segment.chart__item__bar__segment--expenses(style=`height: ${m.expenses / chartData.minAmount * 81}px` title= `${h.formatNumber(m.expenses)}`)
                        .chart__item__label.chart__item__label--months= h.moment({months: m.month - 1}).format("MMM")

    if transactions.length > 0
      each year in transactions
        unless query.category && query.year && query.month
          header.content__head
            h1= year._id.year
          .pills
            if year.income > 0
              a(href=`/stats/?type=Income&year=${year._id.year}&${queryParams}`)
                .pill.pill--bg-income
                  span.pill-label Income
                  span.pill-value= `${h.formatNumber(year.income)}`
            if year.expenses < 0
              a(href=`/stats/?type=Expenses&year=${year._id.year}&${queryParams}`)
                .pill.pill--bg-expenses
                  span.pill-label Expenses
                  span.pill-value= `${h.formatNumber(year.expenses)}`
            if year.income > 0 && year.expenses < 0
              .pill
                span.pill-label Balance
                span.pill-value= `${h.formatNumber(year.balance)}`

        each month in year.months
          header.content__head
            a(name=`${year._id.year}-${month.month}`)
              h2= h.moment({ month: month.month - 1 }).format("MMMM")
                small= year._id.year
          .pills
            if month.income > 0
              a(href=`/stats/?type=Income&year=${year._id.year}&month=${month.month}&${queryParams}`)
                .pill.pill--bg-income
                  span.pill-label Income
                  span.pill-value= `${h.formatNumber(month.income)}`
            if month.expenses < 0
              a(href=`/stats/?type=Expenses&year=${year._id.year}&month=${month.month}&${queryParams}`)
                .pill.pill--bg-expenses
                  span.pill-label Expenses
                  span.pill-value= `${h.formatNumber(month.expenses)}`
            if month.income > 0 && month.expenses < 0
              .pill
                span.pill-label Balance
                span.pill-value= `${h.formatNumber(month.balance)}`

          each day in month.days
            .transactions__group
              h3.transactions__group__title= h.moment(day.date).format("LL")
                span.transactions__group__amount= h.formatNumber(day.balance)
              ol.transactions__list
                each transaction in day.transactions
                  - const name = transaction.note || (transaction.amount < 0 ? "Expense" : "Income")
                  - const payee = transaction.payee ? ` <span class="text--ui">@</span>${transaction.payee}` : ""
                  li(class=`transaction${!transaction.cleared ? " transaction--uncleared" : ""}`)
                    a(href=`/transaction/${transaction._id}/edit?${queryParams}`)
                      .transaction__details__left
                        span.transaction__name!= `${name}${payee}`
                        span.transaction__category(style=`color: ${transaction.category.color}`)= transaction.category.name
                      .transaction__details__right
                        span.transaction__amount= `${h.formatNumber(transaction.amount)}`
    else
      .empty-page
        .empty-page__content
          h2.empty-page__title No transactions
