mixin appNav(screenTitle = title, leftMenu, rightMenu)
  nav.app-nav
    div
      if leftMenu
        each link in leftMenu
          a(href=`${link.url}` title=`${link.title}`)
            i(data-feather=`${link.icon}`)
      else
        a(href="" title="Back" onclick="window.history.go(-1); return false;")
          i(data-feather="chevron-left")
    div
      span= screenTitle
    div
      if rightMenu
        each link in rightMenu
          if link.icon
            a(href=`${link.url}` title=`${link.title}`)
              i(data-feather=`${link.icon}`)
          else
            a(href=`${link.url}` title=`${link.title}`)= link.title
