mixin categoryForm(category = {})
  form(action=`/settings/categories/add/${category._id || ''}` method="POST" class="form")
    .input__group
      input(type="text" name="name" placeholder="Name" value=category.name required)

    .input__group
      .input__element.input__element--large
        select(name="type")
          option(value="Expenses" selected=(category.type && category.type === "Expenses")) Expenses
          option(value="Income" selected=(category.type && category.type === "Income")) Income
      .input__element.input__element--small
        input(type="color" name="color" value=category.color required)

    .input__group
      input(type="submit" value="Save" class="button")

    if category._id
      .input__group
        a.form__button(href=`/transactions?category=${category._id}`)= `Browse transactions (${transactionsCount})`

      .input__group
        a.form__button.form__button--danger(href=`/settings/category/${category._id}/remove` onclick="return confirm('Are you sure you want to remove this category?')") Remove
