mixin groupedTransactions(transactions)
  if transactions.length > 0
    each group in transactions
      .transactions__group
        h4.transactions__group__title= group.fullDateString || group.dayOfMonth
          span.transactions__group__subtitle= group.dayOfWeek
          span.transactions__group__amount= h.formatNumber(group.totalAmount)
        ol.transactions__list
          each t in group.transactions
            li.transaction
              a(href=`/transaction/${t._id}/edit`)
                span.transaction__name= `${t.description} ${t.vendor ? `(${t.vendor})` : ""}`
                span.transaction__amount
                  span.transaction__pill(style=`background-color: ${t.category.color}`)= `${h.formatNumber(t.amount)}`
  else
    .content No transactions yet.
