mixin transactionForm(transaction = {})
  form(action=`/add/${transaction._id || ''}` method="POST")
    input(type="text" name="description" placeholder="Description" value=transaction.description)
    select(name="category")
      each c in categories
        - const selected = transaction.category ? transaction.category.toString() === c._id.toString() : false
        option(value=`${c._id}|${c.name}` selected=selected) #{c.name}
    - const date = h.moment(transaction.date).format('YYYY-MM-DD')
    input(type="date" name="date" value=date)
    input(type="number" name="amount" step="0.01" placeholder="Amount" value=transaction.amount required)
    input(type="submit" value="Save →" class="button")
    if transaction._id
      a(href=`/transactions/${transaction._id}/remove` onclick="return confirm('Are you sure you want to remove this transaction?')") Remove →
