include _currencySelect

mixin transactionForm(query = {}, transaction = {})
  form(action=`/add/${transaction._id || ''}` method="POST" class="form")
    .input__group
      .input__element
        select(name="category")
          each group in categories
            optgroup(label=group._id)
              each category in group.categories
                - const selected = (query.category && query.category == category._id) || (transaction.category && transaction.category.type === category.type && transaction.category.name === category.name)
                option(value=`${category.type}:${category._id}:${category.name}` selected=selected)= category.name

    .input__group
      .input__element.input__element--large
        input(type="number" name="amount" step="0.01" placeholder="Amount" value=transaction.amount required)
      .input__element.input__element--small
        +currencySelect()

    .input__group
      .input__element.input__element--large
        - const date = h.moment(transaction.date).format('YYYY-MM-DD')
        - const selected = transaction.cleared
        input(type="date" name="date" value=date)
      .input__element.input__element--small
        select(name="cleared")
          option(value="true" selected=selected) Cleared
          option(value="false" selected=!selected) Uncleared

    .input__group
      .input__element
        input(type="text" name="payee" placeholder="Payee (optional)" value=transaction.payee)

    .input__group
      .input__element
        input(type="text" name="note" placeholder="Note (optional)" value=transaction.note)

    .input__group
      input(type="submit" value="Save")

    if transaction._id
      .input__group
        a.form__button.form__button--danger(href=`/transaction/${transaction._id}/remove` onclick="return confirm('Are you sure you want to remove this transaction?')") Remove
